*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container{
  width: 100%;
  max-width: 1400px;
  margin: auto;
  padding: 0;
}

@media (max-width:768px){
  .container{
    width: 100%;
    max-width: 768px;
    margin: auto;
    padding: 0;
  }
}
@media (max-width:480px){
  .container{
    width: 100%;
    max-width: 480px;
    margin: auto;
    padding: 0;
  }
}